/**
 * ## Config: Rhythm
 *
 * Sets the values necessary for the creation of a consistent baseline grid.
 */

// Collection of classes to define a consistent vertical margin.
$verticalMargin-looser: 1.5em;
$verticalMargin-loose: 1.25em;
$verticalMargin-base: 1em;
$verticalMargin-tight: 0.75em;
$verticalMargin-tighter: 0.5em;
