/**
 * ## Component: Page Header
 *
 * Styles for header at the top of every page.
 */

.pageHeader {
    padding-bottom: 2rem;

    @media screen and (min-width: $respond-large) {
        @include container($documentWidth);
    }
}

	.pageHeader h1 {
        line-height: 1em;
        margin-bottom: 0;
        font-weight: 900;
        font-family: $fontFamily-secondary;
        font-size: $fontSize-larger;
        text-align: center;
	}

        .pageHeader em {
            font-style: normal;
            color: $color-accent;
        }

	.pageHeader a {
		color: $color-text;
		text-decoration: none;

        &:hover,
        &:focus {
            color: $color-text;
        }
	}
