<header class='pageHeader'>
    <div class='pageHeader-content'>
        <h1 class='logo'>
            <a href='/'><span class='logo-icon'></span>Atrus</a>
        </h1>
        <nav class='navBar'>
            <ul class='navBar-content'>
                <li><a href='/u'>Users</a></li>
                <li><a href='/t'>Tags</a></li>
                <li><a href='/q'>Search</a></li>
                <li><a href='/login'>Login</a></li>
            </ul>
        </nav>
    </div>
</header>
