/**
 * ## Utility: Pull
 *
 * Simple utilities for floating something to the left or the right. These are
 * provided simply for convenience, and default to inline-block (if someone is
 * using a browser that doesn't support inline-block, then they can be left
 * behind).
 */

// Float to the left.
.ut-pullLeft {
    display: inline-block;
    float: left;
}

// Float to the right.
.ut-pullRight {
    display: inline-block;
    float: right;
}
