<!doctype html>
<html>
    <head>
        <meta charset='UTF-8'>
        <title>Atrus</title>
    </head>
    <body>
        {{#body}}
            <p>{{ body }}</p>
        {{/body}}
        {{^body}}
            <p>No body! I have no body!</p>
        {{/body}}
    </body>
</html>
