<!doctype html>
<html>
    <head>
        {{> head}}
    </head>
    <body>
        {{> header}}

        <div class='pageBody'>
            {{{body}}}
        </div>

        {{> body}}
    </body>
</html>
